.app {
	flex: 1;
	display: flex;
	overflow: hidden;
}

.aside {
	padding: 20px;
	flex: 1;
	border-right: 2px solid rgba(0, 0, 0, 0.15);
	overflow: auto;
	flex-direction: column;
	transition: all ease-in-out 0.5s;
	position: relative;
}

.aside_menu {
	position: sticky;
	left: 0;
	top: 0;
	z-index: 10;
	width: 30px;
	height: 30px;
	margin-right: auto;
	transform: translate(-20px, 35px);
	cursor: pointer;
	color: #444444;
	background-color: #d8d8d8;	
	fill: currentColor;
	transition: color ease-in-out 0.15s;
}

.aside_menu:hover {
	color: #ffffff;
	background-color: rgb(207, 111, 9);
}


.open {
	transform: translate(-20px, 35px) rotate(180deg);
}

.aside_menu>svg {
	width: 100%;
	height: 100%;
}



.main {
	flex: 3;
	overflow: auto;
	padding: 0 20px 0 20px;
	margin-top: -30px;
}



.load.success {
	height: 1rem;
}

.range_container {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	border: 2px solid rgba(0, 0, 0, 0.15);
	border-radius: 2px;
}

.range_label {
	font-family: "PingFangSC-Medium";
	color: #444444;
	margin-bottom: 8px;
}

.range_btn {
	width: 100%;
	height: 100%;
	margin: 0 16px;

}



#container {
	width: 100%;
}

.layui-btn-primary:hover {
	background-color: rgb(207, 111, 9);
	border-color: rgb(207, 111, 9);
	color: #fff;
}

.layui-btn-container {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-gap: 10px;
}

.layui-btn :nth-child(n+3) {
	grid-column: 1;
}

.layui-btn {
	font-family: "PingFangSC-Medium";
	margin: 0 !important;
	overflow: hidden;
	display: flex;
	justify-content: center;
}


/* .layui-btn-left {
	margin-right: 5px !important;
}

.layui-btn-right {
	margin-left: 5px !important;
} */

/* 标签容器 */
.label_container {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	line-height: 20px;
	text-align: left;
}

.label_container_tips {
	font-family: "PingFangSC-Thin";
	color: rgba(0, 0, 0, 0.5);
}