.app {
	flex: 1;
	display: flex;
	overflow: hidden;
}

.aside {
	padding: 20px;
	flex: 1;
	border-right: 2px solid rgba(0, 0, 0, 0.15);
	overflow: auto;
	flex-direction: column;
}

.main {
	flex: 3;
	overflow: auto;
	padding: 0 20px 0 20px;
}



.load.success {
	height: 1rem;
}

.range_container {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	border: 2px solid rgba(0, 0, 0, 0.15);
	border-radius: 2px;
}

.range_label {
	margin-bottom: 8px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.range_btn {
	width: 100%;
	height: 100%;
	margin: 0 16px;

}



#container {
	width: 100%;
}

.layui-btn-primary:hover {
	background-color: #ed6d3f;
	border-color: #ed6d3f;
	color: #333;
}

.layui-btn-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.layui-btn {
	flex: 1;
	margin: 0 !important;
}

.layui-btn-left {
	margin-right: 5px !important;
}

.layui-btn-right {
	margin-left: 5px !important;
}

/* 标签容器 */
.label_container {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.label_container_tips {
	color: rgba(0, 0, 0, 0.5);
}